@import '@sass/mixins/index';

.contact__title {
  margin: 0 auto 8rem;
  max-width: 68.3rem;
  text-align: center;
  @include heading-styles('large', $line-height: var(--line-height-base));
}

.contact__content {
  display: grid;
  gap: 5.5rem;

  @include media-query('lg') {
    display: flex;
  }
}

.card {
  background: var(--color-tertiary);
  border-radius: 50px;
  display: grid;
  justify-content: center;
  max-height: 43.7rem;
  max-width: 41rem;
  padding: 7.6rem 3.2rem;

  &__list {
    display: grid;
    gap: 3rem;
    margin: 0 0 4.7rem;

    &__item {
      align-items: center;
      display: flex;
      gap: 1.5rem;
    }

    &__icon {
      background: var(--color-white-100);
      border-radius: 50%;
      height: 5.2rem;
      padding: 1.5rem;
      width: 5.2rem;
    }

    &__text {
      margin: 0;
    }
  }

  &__social-icons-list {
    align-items: center;
    display: flex;
    gap: 3.5rem;
    margin: 0;
  }

  &__social-icons-list,
  &__list {
    list-style: none;
    padding: 0;
  }
}
