@import '@sass/mixins/index';

.modal-video {
  cursor: default;
  height: 100vh;
  margin: 0 auto;
  max-height: 50rem;
  max-width: 80rem;
  padding: 0;
  position: relative;
  width: 100vw;

  @include flex-center;
  @include remove-user-selection;

  &__iframe {
    background-color: var(--color-secondary);
    border-radius: 50px;
    height: 100%;
    width: 100%;
  }
}
