@import '@sass/mixins/index';

.achievments {
  background: var(--color-tertiary);
  @include padding-y(5rem);

  @include media-query('lg') {
    @include padding-y(15.1rem);
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 108.2rem;
    text-align: center;

    @include media-query('xl') {
      flex-wrap: unset;
      gap: unset;
      justify-content: space-between;
    }
  }
}

.achievment {
  display: flex;
  justify-content: space-around;

  @include padding-x(2rem);
  @include media-query('xl') {
    padding: unset;
    width: 100%;

    &:last-child {
      width: 80%;
    }

    &:not(:last-child)::after {
      align-self: stretch;
      border: 1px solid var(--color-primary);
      content: '';
    }
  }

  &__amount {
    color: var(--color-primary);
    font-family: var(--font-family-primary);
    font-size: 6rem;
    font-weight: 400;
    line-height: var(--line-height-heading);

    @include media-query('lg') {
      font-size: 8.5rem;
      padding-bottom: 1.5rem;
    }
  }

  &__description {
    @include body-styles('large');
  }

  &__amount,
  &__description {
    margin: 0;
  }
}
