@import '@sass/mixins/index';

.main-layout {
  width: 100%;

  &__hero {
    margin-inline: auto;
    max-width: 1920px;
    width: 100%;
  }

  &__section {
    @include container-width;
    @include padding-x(1.75rem);

    @include media-query('sm') {
      @include padding-x(4rem);
    }

    @include media-query('xl') {
      padding: 0;
    }
  }
}
