@import '@sass/mixins/index';

.image {
  width: 1.5rem;

  @include media-query('md') {
    width: 1.9rem;
  }
}

.button {
  align-items: center;
  background-color: var(--color-secondary);
  border: unset;
  border-radius: 1.8rem;
  box-shadow: 0 10px 20px var(--color-gray-750);
  display: flex;
  gap: 0.9rem;
  height: 4.5rem;
  padding: 0 3.5rem;
  transition: background-color 0.7s linear;

  @include body-styles('small', $color: var(--color-white-100), $weight: 600);

  @include media-query('md') {
    height: 5.5rem;
    padding: 0 4rem;
  }

  @include media-query('xl') {
    height: 7.5rem;
    padding: 0 5.4rem;
  }

  &:hover {
    background-color: var(--btn-secondary);
  }

  &:hover .image {
    @include arrow-slide-animation(0.7s);
  }

  .path {
    stroke: var(--color-primary);

    &__gold {
      stroke: var(--color-secondary);
    }
  }

  &__gold {
    background-color: var(--color-primary);
    box-shadow: 0 10px 20px var(--color-dark-130);

    &:hover {
      background-color: var(--btn-tertiary);
    }
  }
}
