@keyframes slide {
  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translate(0);
  }
}

@mixin arrow-slide-animation($seconds) {
  animation: slide $seconds ease-in-out;
}

@mixin size-animation($width, $height: $width, $seconds) {
  @keyframes size {
    50% {
      height: 50%;
      width: 50%;
    }

    100% {
      height: $height;
      width: $width;
    }
  }

  animation: size $seconds linear;
}
