@import '@sass/mixins/index';

.section {
  display: grid;
  gap: 4rem;

  @include media-query('lg') {
    display: flex;
    gap: 8.2rem;
  }

  &__text-container {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 51.8rem;

    @include media-query('lg') {
      width: 50%;
    }
  }

  &__image {
    border-radius: 70px;
    height: 30rem;
    object-fit: cover;
    width: 100%;

    @include media-query('md') {
      height: 37.7rem;
    }

    @include media-query('lg') {
      order: -1;
      width: 60rem;
    }
  }

  &__title {
    margin: 0;

    @include heading-styles('large');
  }

  &__description {
    margin: 1.1rem 0 3.2rem;
    @include body-styles('large');
  }
}
