@import '@sass/mixins/index';

.testimonials {
  background-color: var(--color-tertiary);
  border-radius: 25px;
  padding: 3rem 1.5rem;
  @include media-query('md') {
    border-radius: 40px;
    padding: 5rem 2.5rem;
  }
  @include media-query('xl') {
    border-radius: 70px;
    padding: 8.8rem 2.5rem;
  }

  &__title {
    margin: 0 auto;
    max-width: 54.7rem;
    text-align: center;

    @include heading-styles('large');
  }

  &__cards {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2.5rem;

    @include media-query('md') {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 3.8rem;
    }
    @include media-query('xl') {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
