@import '@sass/mixins/index';

.projects {
  &__text-container {
    margin: 0 auto;
    max-width: 73.7rem;
    text-align: center;
  }

  &__title {
    @include heading-styles('large');
  }

  &__description {
    @include padding-y($top: 0.8rem, $bottom: 5rem);
    @include body-styles('large');

    @include media-query('md') {
      @include padding-y($top: 0.8rem, $bottom: 9.3rem);
    }
  }

  &__cards-container {
    display: grid;
    gap: 3rem;

    @include media-query('lg') {
      gap: 10.4rem;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 5.4rem;
    }
  }

  &__card {
    max-height: 61.9rem;
  }

  &__img {
    height: 40rem;
    overflow: hidden;
    position: relative;
    width: 100%;

    @include media-query('lg') {
      height: 52.5rem;
    }
  }

  &__card:nth-child(1) &__img {
    border-radius: 0 80px 0 0;
  }

  &__card:nth-child(2) &__img {
    border-radius: 80px 0 0;
  }

  &__card:nth-child(3) &__img {
    border-radius: 0 0 80px;
  }

  &__card:nth-child(4) &__img {
    border-radius: 0 0 0 80px;
  }

  &__title,
  &__description {
    margin: 0;
  }
}
